html, body {
    background-color: black;
    overflow-x: hidden;
}
/* Animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
}
[data-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[data-anime="down"] {
    transform: translate3d(0, -150px, 0);
}
[data-anime="rigth"] {
    transform: translate3d(150px, 0, 0);
}
[data-anime="down"] {
    transform: translate3d(0, 150px, 0);
}
[data-anime].animate {
    opacity: 1;
    transform: translate3d(0,0,0);
}
.header_full {
    height: 100vh;
}
.section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    transition: .5s height;
}
.section-image img{
    width: 15rem;
    height: 15rem;
}
.content_header {
    text-align: center;
    margin-bottom: 15rem;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-content img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    transition: .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.section-content .active img {
	-webkit-filter: none;	
	filter: none;	
}

.section_images_link {
    display: flex;
    justify-content: center;
}
.text_link_images {
    text-align: center;
    width: 20rem;
    margin: 0 auto;
    color: white;
}
.title_section {
    text-align: center;
    color: white;
    font-weight: bold;
}

.text_intro_section {
    color: white;
}
.consiencia_galeria {
    display: inline-flex;
}
.image_galery_consiencia {
    width: 6rem;
    height: 8rem;
    margin: 1rem 1rem;
}

.link_consiencia {
    text-decoration: none;
    color: white;
}
.link_consiencia:hover {
    text-decoration: none;
    color: #A98900;
}
.active {
    color: #A98900;
}
.image_profile {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 0 10px 5px 0;
}
.profile_content {
    display: flex;
    justify-content: center;
}
.profile_informations {
    margin-bottom: 10px;
}
.profile_name {
    font-weight: 700;
}
.profile_cargo,
.profile_history {
    color: white;
}
.contato {
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.footer {
    width: 100%;
    background: #636363;
    padding: 4rem;
}
.title_contact {
    text-align: center;
    color: white;
    font-weight: 700;
}
.field_text {
    text-align: center;
    color: white;
    margin: 0 auto;
}
.field_text h6 {
    text-transform: uppercase;
}
.field_text i {
    margin-right: 0.6rem;
    font-size: 18px !important;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer {
    padding: 4rem;
}
.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 
.text_info {
    color: white;
}
.itens_menu a { 
    color:white;
}
.social_midia a {
    color: white;
}
.social_midia li{
    margin: 0 auto;
}
.text_info,
.itens_menu,
.social_midia {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Querys */
@media (max-width: 630px) {
    .nav-item {
        width: 100%;
    }
}

