body, html {
    background: black;
    overflow-x: hidden;
}

.logo_image img {
    width: 50%;
    height: 100%;
}

.collapse-section {
    display: flex;
    justify-content: center;
    align-items: center;
}